body {
  background-color: #e2e2e2; }

.mainCOntainer .dangerRed {
  border: 1px solid red !important; }

.mainCOntainer .normalBorder {
  border: 1px solid #cdcdcd !important; }

.mainCOntainer div.topRow, .mainCOntainer div.bottomRow {
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0px 0px 3px 0px rgba(102, 102, 102, 0.49); }
  .mainCOntainer div.topRow .headerCOntent, .mainCOntainer div.bottomRow .headerCOntent {
    height: 66px;
    border-bottom: 1px solid #eeeeee; }
    .mainCOntainer div.topRow .headerCOntent .centerText, .mainCOntainer div.bottomRow .headerCOntent .centerText {
      margin-top: 15px; }
    .mainCOntainer div.topRow .headerCOntent label, .mainCOntainer div.bottomRow .headerCOntent label {
      display: block;
      margin: 0px;
      font-size: 16px; }
    .mainCOntainer div.topRow .headerCOntent span, .mainCOntainer div.bottomRow .headerCOntent span {
      margin-top: 5px; }
    .mainCOntainer div.topRow .headerCOntent .loginComp a, .mainCOntainer div.bottomRow .headerCOntent .loginComp a {
      cursor: pointer; }

.mainCOntainer .mainWrap {
  margin: 0 auto;
  width: 620px; }
  .mainCOntainer .mainWrap .topRow {
    min-height: 267px;
    height: auto;
    overflow: hidden;
    margin-bottom: 15px !important; }
    .mainCOntainer .mainWrap .topRow .social {
      position: relative;
      border-left: 1px solid #cdcdcd;
      padding: 20px 20px 20px 50px; }
      .mainCOntainer .mainWrap .topRow .social img {
        margin-top: 10px; }
      .mainCOntainer .mainWrap .topRow .social .or {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background: #fff;
        position: absolute;
        left: -20px;
        top: 38px;
        padding: 13px 0px 0px 13px;
        font-weight: bold; }
    .mainCOntainer .mainWrap .topRow .registerCOmp {
      display: none; }
    .mainCOntainer .mainWrap .topRow .login {
      padding-top: 30px; }
      .mainCOntainer .mainWrap .topRow .login .loginform input[type="text"], .mainCOntainer .mainWrap .topRow .login .loginform input[type="password"] {
        border: 1px solid #cccccc;
        background-color: #ffffff;
        box-shadow: 1px 2px 2px 0px #ffffff;
        width: 206px;
        height: 28px;
        padding-left: 10px; }
      .mainCOntainer .mainWrap .topRow .login .loginform .row {
        margin-bottom: 20px; }
      .mainCOntainer .mainWrap .topRow .login .loginform span {
        color: red;
        font-weight: bold;
        padding-left: 10px; }
      .mainCOntainer .mainWrap .topRow .login .loginform input[type="button"] {
        width: 68px;
        height: 26px;
        margin-left: 25px;
        border-radius: 15px;
        border: none;
        outline: none; }
      .mainCOntainer .mainWrap .topRow .login .loginform select {
        border: 1px solid #cdcdcd;
        width: 206px;
        height: 28px; }
      .mainCOntainer .mainWrap .topRow .login .loginform .registerBtnDiv input {
        margin-left: 138px; }
      .mainCOntainer .mainWrap .topRow .login .loginform .regosterInfoText {
        word-break: break-all;
        width: 216px; }
  .mainCOntainer .mainWrap .transparentHeader {
    margin: 6px 0px; }
  .mainCOntainer .mainWrap .bottomRow {
    height: 501px; }
    .mainCOntainer .mainWrap .bottomRow .imageWrap {
      padding: 15px; }
      .mainCOntainer .mainWrap .bottomRow .imageWrap .imgDiv {
        height: 405px;
        width: 100%;
        background: #cdcdcd;
        position: relative; }
        .mainCOntainer .mainWrap .bottomRow .imageWrap .imgDiv .centerBtnPlay {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          height: 100px;
          width: 100px;
          background: blue;
          z-index: 20;
          border-radius: 50%;
          opacity: .6;
          cursor: pointer; }

.modal .modal-body {
  height: 580px !important;
  padding: 0px !important; }
  .modal .modal-body .videoWrapperDiv {
    margin-top: 15px;
    height: 550px;
    width: 100%;
    background: #cdcdcd;
    overflow: hidden; }
  .modal .modal-body .close {
    position: absolute;
    right: -20px;
    top: -20px;
    background: #fff;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    opacity: 01;
    font-size: 26px;
    font-weight: normal;
    padding-bottom: 5px;
    outline: none; }
